@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

h4,h5{
    color: rgb(255, 255, 255);
}


.container {
    margin-top: 100px
}

.container .row .col-lg-4 {
    display: flex;
    justify-content: center
}

.card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.card .card-image {
    width: 100%;
   
}

.card .card-image img {
    width: 100%;
    
    object-fit: cover
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    min-height: 100px;
    width: 100%;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.card .card-content {
    bottom: 0px
}

.card .card-content h4,
.card .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    
    font-weight: 500;
    opacity: 1;
    transform: translateY(px);
    transition-delay: 0.2s;
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0;
}

.card .card-content .social-icons li {
    margin: 10px;
    
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px)
}

.card .card-content .social-icons li {
    transform: translateY(20px)
}

.card .card-content .social-icons li a {
    color: rgb(255, 255, 255)
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px
    }

    .container .row .col-lg-4 {
        margin: 20px 0px
    }
}
